PORT=4000
APP_BASE_URL=http://localhost:4000
FRONTEND_URL=http://localhost:5173

GOOGLE_CLIENT_ID=905780009508-avbml32bbm92k4gvsi0cvsasho2l349m.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REDIRECT_URI=http://localhost:4000/api/auth/google/callback

GEMINI_API_KEY=AQ.Ab8RN6IuTKJNEuMRRkBIgkom37VRNSWDKWpuKfr2PS8JMEkPpg

DB_PATH=./data/app.db
SESSION_SECRET=change-me
